<section>
    <div>
        <mat-icon class="icon-previous" (click)="previous()">arrow_back_ios</mat-icon>
        <mat-icon class="icon-forward" (click)="next()">arrow_forward_ios</mat-icon>
        <img [src]="imgUrl" alt="" />

        <div class="arrow-back">
            <!-- <img src="../../../assets/arrow.svg" alt="left-arrow" class="left-arrow" (click)="next()" /> -->
            <button (click)="next()">next</button>
        </div>

        <div class="arrow-back">
            <!-- <img src="../../../assets/arrow.svg" class="right-arrow" alt="right-arrow" (click)="" /> -->
            <button (click)="previous()">back</button>
        </div>
    </div>
</section>
