<section>
  <div>
    <mat-icon class="icon-previous">arrow_back_ios</mat-icon>
    <mat-icon class="icon-forward">arrow_forward_ios</mat-icon>
    <img src="../../../assets/banner/amazon_festive_sale.jpg" alt="" />
    <i class="a-icon a-icon-previous-rounded"></i>
    <i class="a-icon a-icon-next-rounded"></i>
    <!-- <div class="arrow-back">
            <img
              src="../../../assets/arrow.svg"
              alt="left-arrow"
              class="left-arrow"
              (click)="next()"
            />
          </div>
          
        <div class="arrow-back">
            <img
              src="../../../assets/arrow.svg"
              class="right-arrow"
              alt="right-arrow"
              (click)="previous()"
            />
          </div> -->
  </div>
</section>
