.icon-previous {
    // position: absolute;
    // top: 50%;
    // left: 2%;
    cursor: pointer;
}
.icon-forward {
    // position: absolute;
    // top: 50%;
    // right: 2%;
    cursor: pointer;
}
img {
    // position: relative;
    max-width: 100%;
    max-height: 100%;
}
