h1,
h2,
h3,
h4,
h5 {
    margin: 0 !important;
}
a {
    cursor: pointer !important;
    color: darkorange;
    text-decoration: none;
    font-weight: 600;
}

.mat-form-field {
    width: 100% !important;
}

.card {
    max-width: 348px;
    border: 1px #ddd solid;
    border-radius: 4px;
}

.card__body {
    padding: 10px;
}

.max__width {
    max-width: 1900px;
}

.mat-toolbar {
    background-color: var(--primary-color) !important;
}
