mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}
mat-toolbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    color: white;
}

.input__searchbox {
    height: 40px;
    font-size: 18px;
    padding: 8px;
    min-width: 100%;
    border-radius: 6px;
    border: none;
}

.logo__section {
    display: flex;
    align-items: center;
}

.logo {
    object-fit: contain;
    width: 86px;
    margin-top: 5px;
}

.cart {
    height: 50px;
    cursor: pointer;
}

.cart__section {
    display: flex;
    align-items: center;
}

.cart__count {
    padding-left: 8px;
    font-size: 10px;
    font-weight: 500;
}

p {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

mat-toolbar {
    height: 64px !important;
}

.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
}

.submenu.expanded {
    transform: scaleY(1);
}
