<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a *ngFor="let menu of menuList" mat-list-item [routerLink]="menu.path" (click)="sidenav.toggle()">
                {{ menu.name }}</a
            >
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 100vh">
            <div *ngIf="isShowNav">
                <mat-toolbar>
                    <button mat-icon-button aria-label="Menu" (click)="sidenav.open()">
                        <mat-icon color="accent">menu</mat-icon>
                    </button>
                </mat-toolbar>
                <div class="gap"><br /><br /><br /></div>
            </div>
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
