<!---------------------------- auth signin template with Templatedriven Form---------------------------->
<ng-template [ngIf]="type == 'signin' && auth">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="100">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email or Mobile</mat-label>
                    <input
                        matInput
                        placeholder="Enter Your Email or Mobile"
                        [(ngModel)]="auth.email"
                        name="email"
                        #auth_userid="ngModel"
                        required
                        minlength="8"
                        maxlength="30"
                    />
                    <!-- <mat-hint> </mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        placeholder="Enter Your Password"
                        [type]="hide ? 'password' : 'text'"
                        name="auth_password"
                        [(ngModel)]="auth.password"
                        #auth_password="ngModel"
                        required
                        minlength="8"
                        maxlength="16"
                    />
                    <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer">{{
                        hide ? "lock" : "lock_open"
                    }}</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>
</ng-template>

<!---------------------------- auth signup template with reactive Form ---------------------------->

<ng-template [ngIf]="type == 'signup' && signUpForm">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="100">
            <div [formGroup]="signUpForm">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input
                        matInput
                        placeholder="Enter Your Name"
                        formControlName="name"
                        name="name"
                        required
                        minlength="8"
                        maxlength="30"
                        required
                    />
                </mat-form-field>

                <ng-container *ngIf="countries">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Country For ISD Code</mat-label>
                        <mat-select
                            matNativeControl
                            (change)="resetPhoneNumber()"
                            [(ngModel)]="selectedCountry"
                            #SelectedCountry="ngModel"
                            [ngModelOptions]="{ standalone: true }"
                            required
                        >
                            <mat-option *ngFor="let country of countries" [value]="country.code">
                                {{ country.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>

                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input
                        matInput
                        placeholder="Enter Your Mobile"
                        formControlName="mobile"
                        name="mobile"
                        (input)="formatPhoneNumber($event)"
                        required
                    />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email (Optional)</mat-label>
                    <input
                        matInput
                        placeholder="Enter Your Email"
                        formControlName="email"
                        name="email"
                        minlength="8"
                        maxlength="30"
                    />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        placeholder="Enter Your Password"
                        [type]="hide ? 'password' : 'text'"
                        name="password"
                        formControlName="password"
                        required
                        minlength="8"
                        maxlength="16"
                    />
                    <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer">{{
                        hide ? "lock" : "lock_open"
                    }}</mat-icon>
                    <mat-hint> <mat-icon> info </mat-icon> Passwords must be at least 6 characters. </mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>
</ng-template>
