<section fxLayoutAlign="center">
    <div>
        <div class="logo__section">
            <logo routerLink="/welcome"> </logo>
        </div>
        <div class="card">
            <div class="card__body">
                <div>
                    <h3>Create Account</h3>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="center">
                    <div fxFlex="100">
                        <form [formGroup]="signUpForm" novalidate autocomplete="off" (keyup.enter)="onSignUp()">
                            <app-auth
                                [(signUpForm)]="signUpForm"
                                type="signup"
                                (selectedCountryEmitter)="getCountry($event)"
                            ></app-auth>
                        </form>
                    </div>
                    <div>
                        <p>We will send you a text to verify your phone. Message and Data rates may apply.</p>
                    </div>
                    <div style="width: 100%">
                        <div fxFlex="100">
                            <button mat-raised-button color="primary" style="width: 100%">Continue</button>
                        </div>
                    </div>
                    <div fxFlex="100">
                        <div class="signin">
                            <p>Already have an account? <span routerLink="/auth/signin">Sign in</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
