.logo__section {
    padding: 12px;
    margin-bottom: 8px;
}

.login__text {
    font-size: 25px;
    padding: 6px 0px 12px 3px !important;
}

.note p {
    margin-top: 10px;
}

.new__toamazon {
    text-align: center;
    margin-top: 20px;
}

.content {
    display: flex;
    align-items: center;
}

.new__toamazon button {
    width: 100%;
}

.line {
    height: 1px;
    background-color: #ddd;
    width: 34%;
    margin-bottom: 9px;
}
