.back-image {
    width: 100%;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.card {
    max-width: 348px;
    // max-height: 279px;
    border: 1px #ddd solid;
    border-radius: 4px;
}

.card__body {
    padding: 10px;
}

.logo__section {
    padding: 12px;
    margin-bottom: 8px;
}
